<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>



    <script src="https://unpkg.com/vue@3"></script>

    <div id="app" v-cloak>{{ message }}
        <br>
        <div>{{ message2 }}</div>
        <input v-model="message2"/>
        <div v-show="conditionalShow" style="background: red; width: 100px; height: 100px;"></div>
        <div v-show="conditionalShow2" style="background: pink; width: 100px; height: 100px;"></div>
        <div v-if="conditionalShow" style="background: blue; width: 100px; height: 100px;"></div>
        <div v-else="conditionalShow" style="background: green;; width: 100px; height: 100px;"></div>

    </div>

    <script>
        const {
            createApp
        } = Vue

        createApp({
            data() {
                return {
                    message: 'Hello Vue!',
                    message2: 'Hello World!',
                    conditionalShow: true,
                    conditionalShow2: false,
                    conditionalShow: true
                }
            }
        }).mount('#app')

        // v-model=""
        // v-if=""
        // v-else-if=""
        // v-else=""
        // v-show=""
        // v-cloak=""

    </script>
</body>

</html>