<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles.css">

    <title>Vue.js Practice</title>
</head>

<body>



    <script src="https://unpkg.com/vue@3"></script>

    <div id="app" v-cloak>{{ message }}
        <br>
        <div>{{ message2 }}</div>
        <input @keyup.enter="greet(this)" v-model="message2"/>

        <br><br><br>

        <button @click="conditionalShow = !conditionalShow">Toggle btn</button>
        <div v-show="conditionalShow" class="box0"></div>
        <div v-if="conditionalShow" class="box1"></div>
        <div v-else="conditionalShow" class="box2"></div>
        <div v-show="conditionalShow2" class="box3"></div>

        <hr>

        <h1>METHODS:</h1>
        <br>
        <button @click="toggleMethod">Toggle btn</button>
        <div v-show="isVisible" class="box4"></div>
        
    </div>

    <script>
        const {
            createApp
        } = Vue

        createApp({
            data() {
                return {
                    message: 'Hello Vue!',
                    message2: 'Hello World!',
                    conditionalShow: true,
                    conditionalShow2: false,
                    isVisible: true,
                }
            },
            methods: {
                toggleMethod() {
                    this.isVisible = !this.isVisible;
                },
                greet(message) {
                    console.log(message);
                }
            }
        }).mount('#app')

        // v-model=""
        // v-if=""
        // v-else-if=""
        // v-else=""
        // v-show=""
        // v-cloak=""
        // v-on=""
        // v-on:click="conditional = true"
        // v-on:click="conditional = !conditional"
        // @click="conditional = !conditional" 
    </script>
</body>

</html>
